<!DOCTYPE html>
<html lang="en">

<head>
    <title> Admin </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="/css/Cus.css" rel="stylesheet">

</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="#"><img src="/images/logo2.png" alt="Logo shop"></a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href=""><span class="las la-igloo" onclick="displayDashBoard()"></span>
                        <span>Bảng điều khiển</span></a>
                </li>
                <li>
                    <a href="" class ="active" id="customerLink"><span class="las la-users" onclick="displayUsers()"></span>
                        <span>Quản lý khách hàng</span></a>
                </li>
                <li>
                    <a href="" id="employeeMnt"><span class="las la-clipboard-list" onclick="displayProject()"></span>
                        <span>Quản lý nhân viên</span></a>
                </li>
                <li>
                    <a href="" id="orderBag"><span class="las la-shopping-bag" onclick="displayorders()"></span>
                        <span>Quản lý sản phẩm</span></a>
                </li>
                <li>
                    <a href="" id="inventoryReceipt"><span class="las la-receipt" onclick="displayReceipt()"></span>
                        <span>Quản lý đơn hàng</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>Dashboard
                </label>
            </h2>

            <div class="user-wrapper">
                <img src="adminpic.jpg" alt="" onclick="showAdminInfo()">
                <h6>Admin</h6>
                <div class="arrow-down" onclick="toggleInfo()">
                    <span class="las la-angle-down"></span>
                </div>
            </div>
            
            <div id="info" class="info" style="display: none;">
                <h3>Tên: Nguyễn Văn A</h3>
                <p>Email: example@example.com</p>
                <p>Địa chỉ: 123 Example Street, Thành phố, Quốc gia</p>
                <p>Điện thoại: 123-456-7890</p>
            </div>
        </header>
        <main>
            <table>
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Email:</th>
                    <th>Số điện thoại</th>
                    <th>Hành động</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1894</td>
                    <td>Ma Văn Chương</td>
                    <td>21521894@gm.uit.edu.vn</td>
                    <td>0338562814</td>
                    <td>
                        <div class = Action>
                            <span class ="las la-trash delete-button"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2545</td>
                    <td>Đặng Quốc Duy</td>
                    <td>2545@gm.uit.edu.vn</td>
                    <td>03859</td>
                    <td>
                        <div class = Action>
                            <span class ="las la-trash delete-button"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>253634783</td>
                    <td>Ma Seo Sầu</td>
                    <td>21522048@gm.uti.edu.vn</td>
                    <td>04858589569</td>
                    <td>
                        <div class = Action>
                            <span class ="las la-trash delete-button"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2537845858</td>
                    <td>Phạm Anh Kiệt</td>
                    <td>21522048@gm.uti.edu.vn</td>
                    <td>048585569</td>
                    <td>
                        <div class = Action>
                            <span class ="las la-trash delete-button"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>253634783</td>
                    <td>Nguyễn Lê Tấn Quang</td>
                    <td>21522048@gm.uti.edu.vn</td>
                    <td>05589569</td>
                    <td>
                        <div class = Action>
                            <span class ="las la-trash delete-button"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </main>
        <script src="/js/Cus.js"></script>
</body>

</html>