<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bảng điều khiển</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="/css/Adminitrator.css" rel="stylesheet">
</head>

<body>
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>Bảng điều khiển
        </h2>

        <div class="user-icon las la-user" id="user-btn">
        </div>

        <div class="profile-details">
            <img src="/images/admin.png" alt="avatar">
            <h2></h2>
            <div class="flex-btn">
                <a href="/admin/dashboard/profile" class="btn profile"> Hồ sơ </a>
                <a href="/logout" class="btn logout"> Đăng xuất </a>
            </div>
        </div>
    </header>
    <div class="main-content">
        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <a href="/admin/dashboard"><img src="/images/logo2.png" alt="Logo shop"></a>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="/admin/dashboard" class="active" id="dashboardAll"><span class="las la-igloo"
                                onclick="displayDashBoard()"></span>
                            <span>Bảng điều khiển</span></a>
                    </li>
                    <li>
                        <a href="/admin/customers" id="customerLink"><span class="las la-users"></span>
                            <span>Quản lý khách hàng</span></a>
                    </li>
                    <li>
                        <a href="/admin/employees" id="employeeMnt"><span class="las la-clipboard-list"></span>
                            <span>Quản lý nhân viên</span></a>
                    </li>
                    <li>
                        <a href="/admin/products" id="orderBag"><span class="las la-shopping-bag"></span>
                            <span>Quản lý sản phẩm</span></a>
                    </li>
                    <li>
                        <a href="/admin/orders" id="inventoryReceipt"><span class="las la-receipt"></span>
                            <span>Quản lý đơn hàng</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main">
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1 id="quantityCustomers"></h1>
                        <span>Tổng khách hàng đăng ký</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1 id="quantityProducts"></h1>
                        <span>Số lượng sản phẩm</span>
                    </div>
                    <div>
                        <span class="las la-clipboard-list"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>124</h1>
                        <span>Số đơn hàng đang giao</span>
                    </div>
                    <div>
                        <span class="las la-shopping-bag"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>$6k</h1>
                        <span>Tổng doanh thu</span>
                    </div>
                    <div>
                        <span class="las la-chart-line"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1 id="quantityEmployees"></h1>
                        <span>Tổng nhân viên</span>
                    </div>
                    <div>
                        <span class="las la-user"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>120</h1>
                        <span>Tổng sản phẩm đã bán</span>
                    </div>
                    <div>
                        <span class="las la-shopping-cart"></span>
                    </div>
                </div>
            </div>
            <!-- Customer table -->

        </main>
    </div>
    <script src="/js/commonAdmin.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>