<!DOCTYPE html>
<html lang="en">

<head>
    <title> g5 admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="/css/Employee.css" rel="stylesheet">

</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="/admin/dashboard"><img src="/images/logo2.png" alt="Logo shop"></a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin/dashboard"><span class="las la-igloo" onclick="displayDashBoard()"></span>
                        <span>Bảng điều khiển</span></a>
                </li>
                <li>
                    <a href="/admin/customers" id="customerLink"><span class="las la-users"
                            onclick="displayUsers()"></span>
                        <span>Quản lý khách hàng</span></a>
                </li>
                <li>
                    <a href="/admin/employees" class="active" id="employeeMnt"><span class="las la-clipboard-list"
                            onclick="displayProject()"></span>
                        <span>Quản lý nhân viên</span></a>
                </li>
                <li>
                    <a href="/admin/products" id="orderBag"><span class="las la-shopping-bag"
                            onclick="displayorders()"></span>
                        <span>Quản lý sản phẩm</span></a>
                </li>
                <li>
                    <a href="/admin/orders" id="inventoryReceipt"><span class="las la-receipt"
                            onclick="displayReceipt()"></span>
                        <span>Quản lý đơn hàng</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>Nhân viên
            </h2>
            <div class="user-wrapper">
                <img src="/images/logo2.png" alt="" onclick="showAdminInfo()">
                <h6>Admin</h6>
                <div class="arrow-down" onclick="toggleInfo()">
                    <span class="las la-angle-down"></span>
                </div>
            </div>

            <div id="info" class="info" style="display: none;">
                <h3>Tên: Nguyễn Văn A</h3>
                <p>Email: example@example.com</p>
                <p>Địa chỉ: 123 Example Street, Thành phố, Quốc gia</p>
                <p>Điện thoại: 123-456-7890</p>
            </div>
        </header>
        <section class="data-table">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Chọn</th>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ thường trú</th>
                            <th>Chức vụ</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2023 G5Shop
    </footer>
    <script src="/js/Employee.js"></script>
</body>