<!DOCTYPE html>
<html lang="en">

<head>
    <title> g5 admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="/css/Product.css" rel="stylesheet">

</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="/admin/dashboard"><img src="/images/logo2.png" alt="Logo shop"></a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin/dashboard"><span class="las la-igloo" onclick="displayDashBoard()"></span>
                        <span>Bảng điều khiển</span></a>
                </li>
                <li>
                    <a href="/admin/customers" id="customerLink"><span class="las la-users" onclick="displayUsers()"></span>
                        <span>Quản lý khách hàng</span></a>
                </li>
                <li>
                    <a href="/admin/employees" id="employeeMnt"><span class="las la-clipboard-list" onclick="displayProject()"></span>
                        <span>Quản lý nhân viên</span></a>
                </li>
                <li>
                    <a href="/admin/products" class="active" id="orderBag"><span class="las la-shopping-bag" onclick="displayorders()"></span>
                        <span>Quản lý đơn hàng</span></a>
                </li>
                <li>
                    <a href="/admin/orders" id="inventoryReceipt"><span class="las la-receipt" onclick="displayReceipt()"></span>
                        <span>Quản lý doanh thu</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>Sản phẩm
            </h2>
            <div class="user-wrapper">
                <img src="/images/adminpic.jpg" alt="" onclick="showAdminInfo()">
                <h6>Admin</h6>
                <div class="arrow-down" onclick="toggleInfo()">
                    <span class="las la-angle-down"></span>
                </div>
            </div>
            
            <div id="info" class="info" style="display: none;">
                <h3>Tên: Nguyễn Văn A</h3>
                <p>Email: example@example.com</p>
                <p>Địa chỉ: 123 Example Street, Thành phố, Quốc gia</p>
                <p>Điện thoại: 123-456-7890</p>
            </div>   
        </header>
        <section class="data-table">
            <div class="card-header">
                <button onclick="openPopup()"><span class="las la-plus"></span>Thêm sản phẩm mới</button>
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <h2>Thêm sản phẩm mới</h2>
                        <form id="employeeForm" class="employee-form">
                            <input type="text" placeholder="Tên sản phẩm" required>
                            <input type="number" placeholder="Số lượng" required>
                            <input type="number" placeholder="Giá tiền" required>
                            <input type="text" placeholder="Danh mục" required>
                            <input type="text" placeholder="Tình trạng" required>
                            <button type="submit" onclick="submitForm()">Thêm</button>
                            <button type="button" onclick="closePopup()">Hủy</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Chọn</th>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                            <th>Tình trạng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="tickFirst">
                                <label for="tickFirst" class="tick-checkbox"></label>
                            </td>
                            <td>mkd01</td>
                            <td>Áo khoác</td>
                            <td>120</td>
                            <td>300.00</td>
                            <td>Nam</td>
                            <td>Còn hàng</td>
                            <td>
                                <div class ="Action">
                                <span class="las la-edit edit-botton"></span>
                                <span class="las la-trash delete-button"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="tickSecond">
                                <label for="tickSecond" class="tick-checkbox"></label>
                            </td>
                            <td>dk02</td>
                            <td>Áo sơ mi</td>
                            <td>0</td>
                            <td>150.00</td>
                            <td>Nam</td>
                            <td>Hết hàng</td>
                            <td>
                                <div class ="Action">
                                <span class="las la-edit edit-botton"></span>
                                <span class="las la-trash delete-button"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="tickThirth">
                                <label for="tickThirth" class="tick-checkbox"></label>
                            </td>
                            <td>ht01</td>
                            <td>Áo khoác nữ</td>
                            <td>130.000</td>
                            <td>75</td>
                            <td>Nữ</td>
                            <td>Còn hàng</td>
                            <td>
                                <div class ="Action">
                                <span class="las la-edit edit-botton"></span>
                                <span class="las la-trash delete-button"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <script src="/js/Product.js"></script>
</body>

</html>