.user-profile {
    display: flex;
    /* Sử dụng flexbox */
}

/* Thiết lập kiểu cho phần sidebar */
.sidebar {
    width: 30%;
    background-color: #f2f2f2;
    padding: 40px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: 50px;
    /* Thêm margin-top để cách header */
    /* Thêm margin-bottom để cách footer */
}

/* Thiết lập kiểu cho danh sách liên kết trong sidebar */
.sidebar ul {
    list-style-type: none;
    /* Loại bỏ dấu chấm trước mỗi dòng liên kết */
    padding: 0;
    text-align: left;
    /* Cân chỉnh văn bản liên kết*/
}

/* Thiết lập kiểu cho từng dòng liên kết trong sidebar */
.sidebar li {
    margin: 10px 0;
    /* Khoảng cách giữa các dòng liên kết */
}

/* Màu và kiểu chữ cho các dòng liên kết */
.sidebar a {
    text-decoration: none;
    /* Loại bỏ gạch chân mặc định của liên kết */
    color: #333;
    /* Màu chữ */
    font-weight: bold;
    /* Kiểu chữ in đậm */
    display: block;
    /* Hiển thị liên kết như một khối */
    padding: 0;
    /* Loại bỏ padding */
}

/* Đổi màu liên kết khi hover chuột lên */
.sidebar a:hover {
    color: #ff5733;
}

/* Thiết lập kiểu cho phần nội dung (content) */
.content_account {
    width: 70%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    /* Đặt lại margin-left thành 0 để content nằm bên cạnh sidebar */
    margin-top: 80px;
    /* Thêm margin-top để cách header */
    margin-bottom: 40px;
    /* Thêm margin-bottom để cách footer */
    line-height: 1.75;
}

/* Thiết lập kiểu cho thông tin cá nhân */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin-top: 50px;
    position: relative;
    background-color: #f2f2f2;
    transition: 300ms;
    width: 100%;
    margin-left: 2rem;
}

.form-container form {
    background-color: #fff;
    border: 1px solid rgba(256,256,256, 0.4);
    border-radius: .5rem;
    padding: 4rem;
    width: 65%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form input[type="text"], 
.form-container form input[type="email"],
.form-container form input[type="tel"]{
    font-size: 1.6rem;
}

.form-container form input[readonly] {
    background-color: #f1f1f1;
}

.form-container form h3 {
    text-align: center;
    font-size: 2rem;
    margin: 2.5rem 0rem;
    font-weight: bold;
    text-transform: uppercase;
}

.form-container form .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.form-container form .row .col {
    flex: 1 1 30rem;
}

.form-container form label {
    padding-top: 1rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.form-container form label span {
    color: red;
}

.form-container form .input-field {
    width: 100%;
}

.form-container form .box {
    width: 100%;
    margin: .5rem;
    font-size: 1.2rem;
    padding: 1rem;
}
.form-container form .box:active,
.form-container form .box:focus
{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.form-container form .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.form-container form .edit-btn,
.form-container form .confirm-btn
{
    background-color: #F08A5D;
    color: #fff;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 3rem;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(240, 138, 93, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.6rem;
}

.form-container form .cancel-btn {
    background-color:#fff;
    color: #000;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.6rem;
    font-size: 1.3rem;
    line-height: 3rem;
    text-transform: capitalize;
    border: 1px solid #333;
    box-shadow: 5px 5px 5px #f6f6f6;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-container form .edit-btn:hover,
.form-container form .confirm-btn:hover {
    border-color: #F08A5D;
    font-size: 1.6rem;
}

.form-container form .cancel-btn:hover {
    font-size: 1.6rem;
    color: #F08A5D;
    border-color: #F08A5D;

}

.form-container form .hidden {
    display: none;
}

.form-container #error-message {
    border: 1px solid #f1aeb5;
    background-color: #f8d7da;
    color: #58151c;
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    display: none;
}

.form-container #success-message {
    color: #0a3622;
    background-color: #d1e7dd;
    border: 1px solid #a3cfbb;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    display: none;
}


/* Thiết lập kiểu cho top navigation (đường link "Trang chủ" và "Tài khoản") */
.top-nav {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 8px;
}

.top-nav a:hover {
    color: #ff5733;
}

.top-nav a {
    color: black;
    text-decoration: none;
    margin-right: 2px;
    font-weight: bold;
}
