main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
}

.gio-hang {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1100px;
    font-size: 14px;
}

.gio-hang {
    flex: 7;
    margin-left: 80px;
    margin-top: 20px;
}

.tongtien {
    flex: 2;
    padding: 10px;
    margin-top: 200px;
}

.tieuDe {
    padding: 10px;
}

/* Định dạng cho Item */

.item-gio-hang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sellect-product-checkbox{
    margin-right: 3rem;
    width: 2rem;
    height: 2rem;
}


.item-gio-hang .gia,
.soluong {
    flex: 2;
    padding: 10px;
}

.item-gio-hang .product-details,
.hinh-anh {
    flex: 4;
    margin-right: 10px;
}


.item-gio-hang .delete-btn {
    flex: 4;
    padding: 5px;
    margin-left: 20px;
}

.Tongtien {
    padding: 0 2rem;
}

.item-gio-hang .delete-btn {
    flex: 1;
    padding: 0px;
    margin-left: 20px;
}

.item-gio-hang .hinh-anh img {
    width: 100px;
    height: 120px;

}

.item-gio-hang .delete-btn svg {
    width: 30px;
    height: 35px
}


.item-gio-hang {
    background-color: #fff;
    border: 10px solid #fff;
    padding: 0px;
    margin: auto;
    width: 900px;
    max-width: 1000px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
}

.product-details .mau-sac,
.size,
.ma-san-pham {
    text-align: left;
    font-size: 14px;
}

.tensp {
    font-weight: bold;
    font-size: 16px;
    color: black;
}


.gio-hang .tieuDe {
    font-size: 20px;
    
}

.gio-hang .tieudeitem {
    font-weight: 1000;
    color: black;
    text-align: center;
}



.gio-hang .item-gio-hang .soluong input {
    width: 45px;
    border: 1px solid #ececec;
    text-align: center;
    font-size: 16px;
}

/* Định dạng nút + - */
.item-gio-hang .soluong button {
    width: 25px;
    height: 25px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
}

.item-gio-hang .soluong button:hover {
    background-color: rgba(255, 166, 0, 0.445);
}


.item-gio-hang .soluong {
    display: flex;
}


/* Định dạng cho tổng tiền */

.tongtien {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tongtien .thanhtoan {
    font-size: 30px;
    font-weight: bold;
    color: red;
    padding: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.dat-hang,
.quay-lai-gio-hang {
    padding: 20px 20px;
    margin: 5px;
    background-color: #F08A5D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.quay-lai-gio-hang {
    background-color: #DBE2EF;
    color: black;
}


.dat-hang:hover,
.quay-lai-gio-hang:hover {
    background-color: #b74616;
}