/* --------------------- Banner --------------------------- */

.slider-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 3rem;
}

.slider-container .slideBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}

.slider-container .slideBox.active {
    opacity: 1;
}

.slider-container .imgBox img {
    width: 100%;
    height: 100vh;
}

.controls button {
    background-color: transparent;
    border: none;
    position: absolute;
}

.prev {
    left: 0;
    top: 40%
}

.next {
    right: 0;
    top: 40%
}

.controls i {
    position: relative;
    color: #333;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    background-color: rgb(253,242,242);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.controls i:hover {
    font-size: 3rem;
}
/* ------------------- SP ----------------------*/

.listItem-container {
    position: relative;
    padding: 2rem 2rem;
    overflow: hidden;
    height: calc(60rem - 50px);
    margin: 3rem;
    background-color: #F08A5D;
    transition: height 0.5s ease;
}


.listItem-container h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem 5rem;
}

.listItem-container ul {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.listItem-container ul:nth-child(2){
    transform: translateX(110%);
}

.slider-product-best-sell,
.slider-product-news {
    position: relative;
    transition: all 0.5s ease;
    right:0;
}


.listItem-container ul li {
    width: 24%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    cursor: pointer;
}

.listItem-container ul li:hover {
    border: 0.5px solid #333
}

.listItem-container ul li img {
    width: 100%;
    transition: all 0.3s ease;
}

.listItem-container ul li:hover img {
    transform: translateY(-10px);
}

.listItem-container ul a {
    text-decoration: none;
}

.listItem-container ul li .item-text {
    padding-top: 2rem;
}
.listItem-container ul li .item-text .nameItem,
.listItem-container ul li .item-text .priceItem  {
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
}

.listItem-container ul li .item-text .nameItem:hover {
    color:#F08A5D
}

.listItem-container ul li .item-text .priceItem {
    color: red;
    font-weight: bold;
}

.listItem-container ul .controls {
    margin: 10px;
}

@media (max-width:1200px) {
    .listItem-container {
        height: 50rem;
    }
}

@media (max-width:968px) {
    .listItem-container {
        height: 40rem;
    }
}

@media (max-width:768px) {
    .listItem-container {
        height: 30rem;
    }
}

@media (max-width:480px) {
    .listItem-container {
        height: 25rem;
    }
}