.products {
    position: relative;
    padding: 4%;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-items: center;
}

.products h2 {
    margin-bottom: 2rem;
}

.products .box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    top: 0;
    max-width: 25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.box-container .box img {
    width: 100%;
    transition: all 0.3s ease;
}

.box-container .box:hover img {
    transform: translateY(-10px);
}

.box-container .box:hover {
    border: 0.5px solid #333;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

ul li .item-text {
    padding-top: 2rem;
}
ul li .item-text .nameItem,
ul li .item-text .priceItem  {
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
}

ul li .item-text .nameItem:hover {
    color:#F08A5D
}

ul li .item-text .priceItem {
    color: red;
    font-weight: bold;
}