/* Thiết lập font và background chung */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Thiết lập cho container chính */
.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


/* Thiết lập khối cho phần thông tin giao hàng */
.thong-tin-giao-hang {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.khoang-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.khoang-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}


.khoang-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Dịnh dạng trang nội dung thông tin thanh toán */
.container h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

/* Định dạng thông tin giao hàng */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.khoang-1 h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Định dạng phần hình thức thanh toán */
.khoang-2 .vanchuyen-section,
.khoang-2 .thanhtoan-section {
    padding: 10px;
}

.khoang-2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Định dạng khoang-3 */


.khoang-3 p {
    margin: 10px 0;
}

.khoang-3 h3 {
    font-size: 20px;
    margin: 10px 0;

}

.khoang-3 h3 {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Định dạng phần mã giảm giá và chi tiết giá */
.giamgia {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.chitiet {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.khoang-3 .tongtien h3 {
    font-size: 20px;
    margin-top: 10px;
    color: red;
}

/* Định dạng nút Đặt hàng và Quay lại giỏ hàng */
.tongtien {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.dat-hang,
.quay-lai-gio-hang {
    padding: 20px 20px;
    margin: 5px;
    background-color: #F08A5D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.quay-lai-gio-hang {
    background-color: #DBE2EF;
    color: black;
}


.dat-hang:hover,
.quay-lai-gio-hang:hover {
    background-color: #b74616;
}

/* Điều chỉnh mỗi ô tích (checkbox) */
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.TT1,
.TT2,
.VC {
    padding: 5px;
}