<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet" href="/css/globalStyle.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/view_product.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div class="navbar-wrap">
            <a href="/">
                <img src="/images/logo2.png" alt="Logo">
            </a>
            <nav class="navbar">
                <a href="/products/male">Nam</a>
                <a href="/products/female">Nữ</a>
                <a href="/products/baby">Trẻ em</a>
            </nav>
            <form method="post" class="search-bar">
                <input type="text" name="search_product" placeholder="Search..." maxlength="100">
                <button type="submit" class="fa fa-search" id="Search_product_button"></button>
            </form>
            <div class="icon">
                <div class="fa fa-list" id="menu-btn"></div>
                <div class="fa fa-search" id="search-btn"></div>
                <a href="/cart"><i class="fa fa-shopping-cart"></i><sup>0</sup></a>
                <div class="fa fa-user" id="user-btn"></div>
            </div>
            <div class="profile-details">
                <div class="logged-in">
                    <img src="/images/customer.png" alt="user avatar">
                    <h2></h2>
                    <div class="flex-btn">
                        <a href="/account" class="btn profile"> Hồ sơ </a>
                        <a href="/logout" class="btn logout"> Đăng xuất </a>
                    </div>
                </div>
                <div class="logged-out">
                    <h2>Vui lòng đăng nhập hoặc đăng ký</h2>
                    <div class="flex-btn">
                        <a href="/login" class="btn login"> Đăng nhập </a>
                        <a href="/register" class="btn register"> Đăng ký </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="url">
            <ul>
                <li><a href="/" class="urlText toHome">Trang chủ</a></li>
                <li><a href="" class="urlText toCategories" id="toCategories">Áo nam</a></li>
                <li><p class="urlText toNoWhere" id="toNoWhere">Áo thun cổ tròn</p></li>
            </ul>
        </div>
        <div class="product" id="productDetail">
            <div class="productImg">
                <div class="mainImgTag">
                    <img src="" alt="product image" id="mainImg">
                </div>
            </div>
            <div class="productInfo">
                <form class="productForm" method="post" action="/products/addToCart" id="productInfoForm">
                    <h1 class="mainProductName" id="mainProductName"></h1>
                    <div class="idSaleRate">
                            <p>Mã sản phẩm: <input type="text" class="productId" id="productId" name="productId" readonly></p>
                            <p class="Saled">Đã bán: <span id="saleCount">100K</span></p>
                    </div>
                    <div class="priceTag">
                        <span id="price"></span>
                        <span id="currencyUnit">Đ</span>
                    </div>
                    <div class="productDescription">
                        <p>Mô tả sản phẩm</p>
                        <!-- <p>Chất liệu: <span id="material"></span></p>
                        <p>Thành phần: <span id="ingredient"></span></p> -->
                        <span class="mainProductDescription" id="mainProductDescription"></span>
                    </div>                    
                    <div class="sizePicker">
                        <p>Size:</p>
                        <div class="size" id="sizeDiv">
                        </div>
                    </div>
                    <div class="numberPicker">
                        <p>Số lượng:</p>
                        <div class="numberSet">
                            <input type="button" class="setButton" id="sub" value="-">
                            <!-- <input type="button" class="numberCount" id="numberCount" value="1" name="quantity"> -->
                            <input type="text" class="numberCount" id="numberCount" value="1" name="quantity" readonly>
                            <input type="button" class="setButton" id="add" value="+">
                        </div>
                    </div>
                    <div class="addAndBuy">
                        <input type="submit" value="Thêm vào giỏ" class="addToCart">
                        <input type="submit" value="Mua ngay" class="buyNow" id="buyNowButton">      
                    </div>
                </form>
                <!-- <form  method="post" action="/products/addToCart">
                    <label for="title"></label>
                    <input type="text" name="title" id="idFormTemp" class="classFormTemp">
                    <input type="text" name="title1" id="idFormTemp1" class="classFormTemp1">
                    <input type="submit" value="Sub mit" id="SubmitFormTemp" class="SubmitClassFormTemp">         
                </form> -->
            </div>
        </div>
        <!-- <div class="listItem-container new">
            <h2>CÁC SẢN PHẨM TƯƠNG TỰ</h2>
            <ul class="listItem" id="newListItem">
            </ul>
            <div class="controls">
                <button class="prev" onclick="prevNewItem()"><i class="fa fa-arrow-left"></i></button>
                <button class="next" onclick="nextNewItem()"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div> -->
        <div class="listItem-container new">
            <h2>SẢN PHẨM TƯƠNG TỰ</h2>
            <div class="slider-product-news">
                <ul class="list-item-news" >
                </ul>
                <ul class="list-item-news" >
                </ul>
            </div>
            <!-- <div class="controls">
                <button class="prev" onclick="prevNewsItem()"><i class="fa fa-arrow-left"></i></button>
                <button class="next" onclick="nextNewsItem()"><i class="fa fa-arrow-right"></i></button>
            </div> -->
        </div>
        <!-- <div class="review">
            <h2>ĐÁNH GIÁ</h2>
            <p>Có <span class="reviewCount">1</span> đánh giá</p>
            <hr>
            <div class="reviewInfo">
                <span class="reviewerName">Duy</span>
                <span class="reviewContent">Sản phẩm quá tuyệt vời</span>
            </div>
            <hr>
        </div> -->
    </main>
    <footer>
        <div class="content">
            <div class="box col2">
                <h3>đăng ký nhận thông tin từ chúng tôi</h3>
                <form method="get" class="get-information">
                    <input type="email" id="email" name="email" placeholder="Nhập email của bạn">
                    <button type="submit" name="Gửi">Gửi</button>
                </form>
                <div class="icons">
                    <a href="#"><i class="fa fa-facebook"></i> </a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="box">
                <h3>về chúng tôi</h3>
                <a href="">giới thiệu</a>
                <a href="">liên hệ</a>
                <a href="">tuyển dụng</a>
                <a href="">tin tức</a>
            </div>
            <div class="box">
                <h3>các chính sách</h3>
                <a href="">Chính sách đổi trả</a>
                <a href="">Chính sách bảo mật</a>
                <a href="">Chính sách thanh toán</a>
                <a href="">Chính sách vận chuyển</a>
            </div>
            <div class="box">
                <h3>Địa chỉ</h3>
                <p>Khu phố 6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh</p>
                <h3>Hotline</h3>
                <p>0123.456.789</p>
                <h3>email</h3>
                <p>g5shop@gmail.com</p>
            </div>
        </div>
        <div class="bottom">
            <p> &copy; Bản quyền thuộc về nhóm 5</p>
        </div>
    </footer>
    <script src="/js/view_product.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>